{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
        Course - IRSL
{% endblock %}

{% block head_meta %}
        <meta property="og:title" content="Course - IRSL"/>
        <meta property="og:title" content="課程講義 - IRSL" />
        <meta property="og:url" content="http://irsl.ss.ncu.edu.tw/course/"/>
        <link rel="stylesheet" type="text/css" href='{% static "css/course.css" %}'>
{% endblock %}

{% block course_state %}
	      <li class="nav-item active">
{% endblock %}

{% block banner_title %}
            Course
{% endblock %}

{% block body_content %}
        <div class="content-fade container mb-5">
            <div id="app"></div>
            <script src='{% static "js/app/course.js" %}'></script>      
        </div>
{% endblock %}
