{% extends 'base.html' %}

{% block title %}
        <title>Link - IRSL</title>
{% endblock %}

{% block head_meta %}
        <meta property="og:title" content="Link - IRSL"/>
        <meta property="og:title" content="相關連結 - IRSL" />
        <meta property="og:url" content="http://irsl.ss.ncu.edu.tw/link/"/>
{% endblock %}

{% block link_state%}
	<li class="nav-item active">
{% endblock %}

{% block banner_title %}
      Link
{% endblock %}

{% block body_content %}
        <div class="content-fade container">
            <div class="row-link row text-center">
                {% for link in links%}
                <div class="hideme col-lg-3 col-md-4 col-xs-6 mb-4 d-block" >
                    <a href={{link.link}} target="_blank" style="height: 100%;">
                        <img class="img-fluid img-thumbnail my-auto" src=/media/{{link.img}} alt="">
                        <div class="cover rounded"></div>
                        <div class="link-name">{{link.chinese}}</div>
                    </a>
                </div>
                {% endfor %}
                <!-- <div id="app"></div>
                <script src="http://localhost:8080/app/index.js"></script> -->
            </div>
        </div>
{% endblock %}
