{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
	Member - IRSL
{% endblock %}

{% block head_meta %}
        <meta property="og:title" content="Member - IRSL"/>
        <meta property="og:title" content="實驗室成員 - IRSL" />
        <meta property="og:url" content="http://www.ss.ncu.edu.tw/~jyliu/news.html" />
				<style>
						.card-columns {
								column-count: 4 !important;
						}
						@media only screen and (max-width : 1000px) {
								.card-columns {
										column-count: 3 !important;
								}
						}
						@media only screen and (max-width : 700px) {
								.card-columns {
										column-count: 2 !important;
								}
						}
						@media only screen and (max-width : 580px) {
								.card-columns {
										column-count: 1 !important;
								}
						}
				</style>
{% endblock %}

{% block member_state %}
				<li class="nav-item active">
{% endblock %}

{% block banner_title %}
	Member
{% endblock %}

{% block body_content %}
        <div class="content-fade container member mb-5">
						<div id="app"></div>
						<!-- <script src='{% static "js/app/course.js" %}'></script> -->
						<script src="http://localhost:8080/app/member.js"></script>
            <!-- <div class="hideme jyliu yliu row hidden-md-down">
                <div class="col-lg-4 col-md-12 align-self-left pb-5">
                    <img src="/static/images/jyliu.png" width=270px>
                </div>
                <div class="col-auto align-self-left pb-5">
                    <h4> 劉正彥(JANN-YENQ TIGER LIU) </h4>
                    <p> PhD, Physics Dept, Utah State University </p>
                    <p> Ionospheric Physics  </p>
                    <p> Room 816 (8th floor), Science Building 4, NCU   </p>
                    <p> (03)4227151~65763  </p>
                    <p> <a href="mailto:jyliu@jupiter.ss.ncu.edu.tw">jyliu@jupiter.ss.ncu.edu.tw</a>  </p>
                    <p> <a href={{cv.cv.url}} target="_blank">Curriculum Vitae</a></p>
                </div>
            </div>
            <div class="hideme jyliu row hidden-lg-up text-center">
                <div class="col pb-5">
                    <h4> 劉正彥(JANN-YENQ TIGER LIU) </h4>
                    <br>
                    <img src="/static/images/jyliu.png" width=270px>
                </div>
            </div>
            <div class="jyliu row hidden-lg-up text-center">
                <div class="col pb-5">
                    <p> PhD, Physics Dept, Utah State University </p>
                    <p> Ionospheric Physics  </p>
                    <p> Room 816 (8th floor), Science Building 4, NCU   </p>
                    <p> (03)4227151~65763  </p>
                    <p> <a href="mailto:jyliu@jupiter.ss.ncu.edu.tw">jyliu@jupiter.ss.ncu.edu.tw</a>  </p>
                    <p> <a href="doc/20150721_MOST_105%20CV_final_jyl.doc" target="_blank">Curriculum Vitae</a></p>
                </div>
            </div>
            <br><br>
						<div class="card-columns text-center">
								{% for mi in members %}
										<div class="hideme card text-center mx-auto mb-4" style="max-width: 200px; border: none;">
											  <img class="card-img-top rounded-circle mx-auto" src="/media/{{mi.thumb}}" alt="Card image cap" style="height: 150px ;width: 150px; object-fit: cover;">
											  <div class="card-body py-3">
											    	<h5 class="card-title py-0">{{mi.english}}</h5>
												<h5 class="card-title py-0">{{mi.chinese}}</h5>
												<p class="card-text py-0">{{mi.get_identity_display}}</p>
												<p class="card-text py-0">{{mi.email}}</p>
											  </div>
										</div>
								{% endfor %}
					  </div>

            <br><br>
            <div class="hideme vp row hidden-sm-down">
                <div class="col align-self-left">
                    <h4>歷年客座教授(Visiting Proffesor)</h4>
                    <table class="PhD_table">
			  	{% for pvp in pvps %}
                        <tr class="hideme"><td class="PhD_name">Dr. {{pvp.english}} {{pvp.chinese}} </td>
                            <td class="PhD_country">{{pvp.nation}}</td>
                            <td>{{pvp.start}}~{{pvp.end}}</td></tr>
			  	{% endfor %}
                    </table>
                    <br>
                </div>
            </div>
            <div class="hideme pd row hidden-sm-down">
                <div class="col align-self-left">
                    <h4>歷年博士後研究(Postdoctoral) </h4>
                    <table class="PhD_table">
			  	{% for ppd in ppds %}
                        <tr class="hideme"><td class="PhD_name">Dr. {{ppd.english}} {{ppd.chinese}} </td>
                            <td class="PhD_country">{{ppd.nation}}</td>
                            <td>{{ppd.start}}~{{ppd.end}}</td></tr>
			  	{% endfor %}
                    </table>
			  <br>
                </div>
            </div>
            <div class="st row hidden-sm-down">
                <div class="col align-self-left">
                    <h4 class="hideme">歷年畢業學生(Graduate Student)</h4>
                    <br>
                    <h5 class="hideme">博士 Doctor</h5>
                    <table class="hideme graduate_table">
			  	{% for gpd in gpds %}
				<tr class="hideme"><td class="graduate_name"> {{gpd.chinese}} </td>
                            <td class="graduate_year"> {{gpd.start}}~{{gpd.end}} </td>
                            <td> {{gpd.title}} </td></tr>
			  	{% endfor %}
                    </table>
                    <br>
                    <h5 class="hideme">碩士 Master</h5>
                    <table class="hideme graduate_table">
			  	{% for gmd in gmds %}
				<tr class="hideme"><td class="graduate_name"> {{gmd.chinese}} </td>
                            <td class="graduate_year"> {{gmd.start}}~{{gmd.end}} </td>
                            <td> {{gmd.title}} </td></tr>
			  	{% endfor %}
                    </table>
                </div>
            </div>

            <div class="hideme vp row text-center hidden-md-up">
                <div class="col align-self-left">
                    <h4>歷年客座教授(Visiting Proffesor)</h4>
                    <table class="PhD_table text-center">
			  	{% for pvp in pvps %}
                        <tr class="hideme"><td class="PhD_name">Dr. {{pvp.english}} {{pvp.chinese}} <br>
                            {{pvp.nation}} <br>
                            {{pvp.start}}~{{pvp.end}} <br></tr>
			  	{% endfor %}
                    </table>
                    <br>
                </div>
            </div>
            <div class="hideme pd row text-center hidden-md-up">
                <div class="col align-self-left">
                    <h4>歷年博士後研究(Postdoctoral) </h4>
                    <table class="PhD_table text-center">
			  	{% for ppd in ppds %}
                        <tr class="hideme"><td class="PhD_name">Dr. {{ppd.english}} {{ppd.chinese}} <br>
                            {{ppd.nation}} <br>
                            {{ppd.start}}~{{ppd.end}} <br></tr>
			  	{% endfor %}
                    </table>
			  <br>
                </div>
            </div>
            <div class="st row text-center hidden-md-up">
                <div class="col align-self-left">
                    <h4 class="hideme">歷年畢業學生(Graduate Student)</h4>

                    <br>
                    <h5 class="hideme">博士 Doctor</h5>
                    <table class="hideme graduate_table text-center">
			  	{% for gpd in gpds %}
				<tr class="hideme"><td class="graduate_name"> {{gpd.chinese}} <br>
                            {{gpd.start}}~{{gpd.end}} <br>
                            {{gpd.title}} <br></tr>
			  	{% endfor %}
                    </table>
                    <br>
                    <h5 class="hideme">碩士 Master</h5>
                    <table class="hideme graduate_table text-center">
			  	{% for gmd in gmds %}
				<tr class="hideme"><td class="graduate_name"> {{gmd.chinese}} <br>
                            {{gmd.start}}~{{gmd.end}} <br>
                            {{gmd.title}} <br></tr>
			  	{% endfor %}
                    </table>
                </div>
            </div> -->
        </div>
{% endblock %}
