{% extends 'base.html' %}
{% load staticfiles%}

{% block head_title %}
	Publication - IRSL
{% endblock %}

{% block head_meta %}
	<meta property="og:title" content="Publication - IRSL"/>
	<meta property="og:title" content="期刊著作 - IRSL" />
	<meta property="og:url" content="http://irsl.ss.ncu.edu.tw/publication/"/>
{% endblock %}

{% block stylesheet %}
    <style>
			.react-tagsinput {
			  background-color: #fff;
			  border: 1px solid #ccc;
			  overflow: hidden;
				padding-left: 5px;
			  padding-top: 5px;
			}

			.react-tagsinput-tag {
			  background-color: #2E86C1;
			  border-radius: 2px;
			  border: 1px solid #2874A6;
			  color: white;
			  display: inline-block;
			  font-family: sans-serif;
			  font-size: 130%;
			  font-weight: 200;
				margin-bottom: 5px;
			  margin-right: 5px;
			  padding: 5px;
			}

			.react-tagsinput-remove {
			  cursor: pointer;
			  font-weight: bold;
			}

			.react-tagsinput-tag a::before {
			  content: " x";
			}

			.react-tagsinput-input {
			  background: transparent;
			  border: 0;
			  color: #777;
			  font-family: sans-serif;
			  font-size: 130%;
			  font-weight: 200;
			  margin-bottom: 6px;
			  margin-top: 1px;
			  outline: none;
			  padding: 5px;
			  width: 80px;
			}

			@media only screen and (max-width : 700px) {
				.react-tagsinput-tag {
					font-size: 100%;
				}
				.react-tagsinput-input {
					font-size: 100%;
				}
			}
		</style>
{% endblock %}


{% block pub_state %}
	<li class="nav-item active">
{% endblock %}

{% block banner_title%}
	Publication
{% endblock %}

{% block body_content %}
	<div class="content-fade container mb-5">
		<div class="row">
			<div class="col align-self-center text-left">
				<div id="app"></div>
				<script src='{% static "js/app/pub.js" %}'></script>
				<!-- <script src='http://localhost:8080/app/pub.js' type="text/javascript"></script> -->
			</div>
		</div>
	</div>
{% endblock %}

{% block foot_js %}
	<script src='{% static "js/animate.js" %}' type="text/javascript"></script>
	<script src='{% static "js/clusterize.min.js" %}' type="text/javascript"></script>
{% endblock %}
